<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @sample_article.title %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @sample_article.content %>
</p>

<%= link_to '編集', edit_sample_article_path(@sample_article) %> |
<%= link_to '戻る', sample_articles_path %>
